@use 'abstract/variables';

:host {
  position: relative;
  display: block;
  background-color: var(--c-sys-background);

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 556px;
    background: var(--gr-sys-background-fx);
  }

  .page-container {
    position: relative;
    width: auto;
    max-width: variables.$layout-container-width;
    margin: 0 auto;
    padding: 38px variables.$layout-side-paddings 80px;
  }
}
