@use 'abstract/variables' as vars;

:host {
  display: block;
  background-color: var(--c-ui-secondary);

  transition: all #{vars.$transition-default};

  &:hover {
    transform: translateY(-5px);
    box-shadow: #{vars.$elevate-1};
  }
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-image {
  flex: 0;
  height: 110px;
  width: 100%;
  height: auto;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(vars.$layout-base-spacing / 2);
  font-weight: 600;

  .product-title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: inherit;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: var(--c-text-secondary);
  }

  .product-details {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  .product-status,
  .product-discount,
  .product-price {
    font-size: 12px;
    border-radius: 2px;
    padding: 4px 5px 2px;
    line-height: 1;
  }

  .product-discount {
    background-color: var(--c-brand-secondary);
    color: var(--c-brand-secondary-contrast);
  }

  .product-status,
  .product-price {
    text-transform: uppercase;
    border: 1px solid var(--c-ui-borders);
    color: var(--c-text-tertiary);
    background: transparent;
  }

  .product-status.owned {
    opacity: 0.5;
  }

  .product-price {
    cursor: pointer;
  }
}
